// fsol bloemetje icon.
// (dat zal wel niet meer kloppen, maarja dat maakt ook niet uit)
// -- groeten aan de vis, Kuno <warp-tmt@dds.nl>
ID_64K_ICO              ICON    DISCARDABLE     "..\\data\\64k.ico"

