#include "C:\masm32\include\resource.h"

100 DIALOG 0,0,200,118
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU | WS_MINIMIZEBOX & NOT WS_CAPTION
FONT 8, "Tahoma"
BEGIN
	EDITTEXT	100,4,4,192,28,ES_CENTER | ES_READONLY | ES_MULTILINE | NOT WS_TABSTOP

	RTEXT		"&Name:",101,4,36,28,12,SS_CENTERIMAGE
	EDITTEXT	102,34,36,162,12,ES_AUTOHSCROLL

	RTEXT		"&Serial:",101,4,52,28,12,SS_CENTERIMAGE
	EDITTEXT	103,34,52,162,12,ES_AUTOHSCROLL | ES_READONLY
END