

                             ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
                             ³     àáoUç U$...    ³
                             ³        V1 .3       ³
                             ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ
  
  OuR tEaM (gRiF) fOuNdEd iN 1992 bY RaTT. At  thE  fiRsT  tiMes, wE hAvE oNlY
  2-3 mEmBeRs, bUt bY thE tiMe SoMe tAlEntEd GuYs JoiNeD tO oUr GrOuP...
  iF U hAvEn't GoT oUr oThEr rElEaSeS,tHaN wRitE t0 uS, aNd wE Will sEnD iT To
  YoU...  

                           
  [ MeMbErliSt... (iN j0iN 0RdEr) ]

  - K roly Gergely           ùRaTTù          /0rGaNiZeR, gRAPhiC, dESiGn/
  - Bal zsi Mikl¢s           ùAtXù           /c0dEr/
  - Reitinger Roland         ùTrSù           /sWAPPer/
  - Strezeneczki Tam s       ùStREziù        /c0dEr/
  - Ber‚nyi Csaba            ùMaNù           /c0dEr/
  - Czirmai P‚ter            ùA››0rDù        /Midi mUsiCiAn/
  - Alm si G bor             ùAlmAù          /mAiN c0dEr/
  - Horv th Szil rd          ùRiaNù          /mUsiCiAn/
  - Szombathelyi Zolt n      ùCrYPt0dANCErù  /mAiL sWaPPeR/


  [ gRiF's sPrEaDed StuFFs: ]

  - ReQuiEm	  /dEnTr0,		  1993 02./  [AbaDD0n pARtY 2nd PlAcE]
  - 3Fr0m1	  /3 mUsIc bY SlaYeR      1993 03./
  - tRuE'93       /pArTyiNviTaT0r         1993 07./
  - cHaNtR0	  /cHaNNel iNTR0	  1993 06./  [JaM! pARTy 1st PlAcE]
  - cHaNNel	  /diSkMagaZine 	  1993 12./
  - LeTTerWriTeR  /iT's f0R y0u...        1994 03./
  - RoCk & RoLL   /miDi bY aCCoRd         1994 03./
  - JuStd0iT!     /4kB iNtR0              1994 08./
  - CaTcH uP!	  /diSCo tRaCkM0	  1994 08./  [V R-PaRtY 2.nd PlAcE]
  - c0nvER-t      /ASCii tExTcoNvErTeR    1994 08./
  - cHYztRo       /ChAnnEl#2 iNtRo        1994 09./
  - 0nE PiXeL     /GUS aDvErtiSeMeNt dEm0 1994 09./
  - YeR0          /16 cHaNNels RiAn tUnE  1994 09./
  - cHyZtRo       /ChAnnEl #2. pRev.iNtR0 1994 10./


  [ AddReSSeS: ]

  ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿    ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿    ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
  ³  BuSinESS, HQ at: ³    ³ c0De qUEsTi0nS at:  ³    ³       SWaP at:        ³
  ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ    ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ    ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ
  Gergely K roly /RaTT/     G bor Alm si    /AlmA/     Roland Reitinger  /TRS/
  HuNgary,  9024,  Gy“r     HuNgary,  9021,   Gy“r     HuNgary,2800, Tatab nya
  Si¢ street 22.            Apor Vilmos P. tere 2.     K”zt rsas g  street  4.
  Tel.:  +36-96-314-069     Tel.:   +36-96-316-329     Tel.:    +36-34-334-185

                            ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
                            ³  TeChn0 sWaPPiNg:  ³
                            ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ
                             Zolt n   Szombathelyi
                                /CrYPT0dAnCEr/
                             HuNgary,  9022,  Gy“r
                             rp d   street  51/A.
                             Tel.:  +36-96-321-588

                                                                    -siGn 0ff-
