cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Debug/
Makefile
whisky_in_a_tube
whisky_in_a_tube.dir/
Release/
src/whisky_in_a_tube
./*.exe
*.bin
*.ilk
*.ld
*.o
*.opensdf
*.pdb
*.S
*.sdf
*.sln
*.stripped
*.suo
*.unprocessed
*.vcxproj*
